<!DOCTYPE html>
<html xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
  <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
  <!--  jQuery -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <!-- Bootstrap Date-Picker Plugin -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
</head>
<body>
<form action="#" th:action="@{/event/saveAdhocTaskToEvent}" th:object="${taskStatusForEventCreatingDto}"  method="post">
  <input type="hidden" th:field="*{eventId}"/>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" th:field="*{name}" id="name" placeholder="Another input">
  </div>
  <td>
    <label for="date">Date of end of task:</label>
    <input type="datetime-local" id="date" th:field="*{date}"/>
  </td>
  <ul>
    <li th:each="person: ${persons}">
      <input type="radio"
             th:field="*{personId}"
             th:value="${person.id}" />
      <label
              th:for="${#ids.prev('personId')}"
              th:text="${person.name}"></label>
    </li>
  </ul>

<!--  <tr th:each="person: ${persons}">-->
<!--    <td th:text="${person.id}" />-->
<!--    <td th:text="${person.name}" />-->
<!--    <div class="custom-control custom-radio">-->
<!--      <input type="radio" class="custom-control-input" th:field="*{destinationAddressId}" th:value="${destinationAddress.destinationAddressId}"  th:field="*{personId}" value="" id="defaultGroupExample1" name="groupOfDefaultRadios">-->
<!--      <label class="custom-control-label" th:text="${person.name}"for="defaultGroupExample1">${person.name}</label>-->
<!--    </div>-->

  </tr>

  <input type="hidden" th:value="*{eventId}" />
  <div>
    <button name="action" type="submit" value="Submit" class="btn btn-success">Complete</button>
  </div>


</form>

</body>
</html>
