<table class="table" xmlns:th="http://www.w3.org/1999/xhtml">
  <thead>
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Date</th>
    <th scope="col">Name</th>
    <th scope="col">Is finished?</th>
    <th scope="col">Assigned to</th>
    <th scope="col">Edit</th>
    <th scope="col">Delete</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="taskStatus, obj : ${tasks.get('adhoc')}">
    <td th:text="${taskStatus.id}">Id</td>
    <td th:text="${#temporals.format(taskStatus.date, 'yyyy-MM-dd HH:mm')}"></td>
    <td th:text="${taskStatus.name}">Name</td>
    <td>
      <div th:switch="${taskStatus.status}">
        <p th:case="false">No</p>
        <p th:case="true">Yes</p>
        <p th:case="*">?</p>
      </div>
    </td>
    <td th:text="${taskStatus.person.name}">Assigned to</td>
    <td>
      <a class="btn btn-warning" href="#" th:href="@{/events/editTask?taskId=} + ${taskStatus.id}"
      ><i class="fa fa-cog" aria-hidden="true"></i></a>
    </td>
    <td>
      <a class="btn btn-danger" href="#"
         th:href="@{/events/deleteTaskFromEvent?taskId=} + ${taskStatus.id} + '&eventId' + '=' + ${event.id}"
      ><i class="fa fa-trash-o" aria-hidden="false"></i></a>
    </td>
  </tr>
  </tbody>
</table>