<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<!--  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">-->
<!--  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>-->
<!--  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>-->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico"/>

  <title>Navbar Template for Bootstrap</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body>
<div class="container">
  <!-- Static navbar -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#" th:text="${username}">Project name</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a th:href="@{/definedList/all}">Prefered lists CRUD</a></li>
          <li><a th:href="@{/task/all}" href="#">Adhoc tasks CRUD</a></li>
        </ul>

      </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
  </nav>
  <div class="jumbotron" xmlns:th="http://www.w3.org/1999/xhtml">
    <a class="btn btn-success" href="#" th:href="@{/events/addAdhocTaskToEventForm?id=} + ${event.id}">Add adhoc task </a>

    <h3>Lista tasków AD hoc <span class="badge badge-secondary">ADHOC</span></h3>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Date</th>
        <th scope="col">Name</th>
        <th scope="col">Is finished?</th>
        <th scope="col">Assigned to</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>

      </tr>
      </thead>
      <tbody>
      <tr th:each="taskStatus, obj : ${tasks.get('adhoc')}">
        <td th:text="${taskStatus.id}">Id</td>
        <td th:text="${#temporals.format(taskStatus.date, 'yyyy-MM-dd HH:mm')}"></td>
        <td th:text="${taskStatus.name}">Name</td>
        <td>
          <div th:switch="${taskStatus.status}">
            <p th:case ="false">No</p>
            <p th:case ="true">Yes</p>
            <p th:case="*">?</p>
          </div>
        </td>
        <td th:text="${taskStatus.person.name}">Assigned to</td>
        <td>
          <a class="btn btn-warning"  href="#" th:href="@{/event/editTask?taskId=} + ${taskStatus.id}"
          ><i class="fa fa-cog" aria-hidden="true"></i></a>
        </td>
        <td>
          <a class="btn btn-danger" href="#" th:href="@{/event/deleteTaskFromEvent?taskId=} + ${taskStatus.id} + '&eventId' + '=' + ${event.id}"
                   ><i class="fa fa-trash-o" aria-hidden="false"></i></a>
        </td>
      </tr>
      </tbody>
    </table>




  </div>
  <div class="jumbotron bg-dark text-white" xmlns:th="http://www.w3.org/1999/xhtml">
    <h3>Listy preferowane <span class="badge badge-secondary">Prefered</span></h3>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Date</th>
        <th scope="col">Name</th>
        <th scope="col">Is finished?</th>
        <th scope="col">Assigned to</th>
      </tr>
      </thead>
      <li th:each="key: ${tasks.keySet()}">
        <span th:if="${key != 'adhoc'}">
    <h4 th:text="${key}"></h4>
          <tr th:each="taskStatus, obj : ${tasks.get(key)}">
        <td th:text="${taskStatus.id}">Id</td>
        <td th:text="${#temporals.format(taskStatus.date, 'yyyy-MM-dd HH:mm')}"></td>
        <td th:text="${taskStatus.name}">Name</td>
        <td>
          <div th:switch="${taskStatus.status}">
            <p th:case ="false">No</p>
            <p th:case ="true">Yes</p>
            <p th:case="*">?</p>
          </div>
        </td>
        <td th:text="${taskStatus.person.name}">Assigned to</td>
        <td>
          <a class="btn btn-warning"  href="#" th:href="@{/event/editTask?taskId=} + ${taskStatus.id}"
          ><i class="fa fa-cog" aria-hidden="true"></i></a>
        </td>
        <td>
          <a class="btn btn-danger" href="#" th:href="@{/event/deleteTaskFromEvent?taskId=} + ${taskStatus.id} + '&eventId' + '=' + ${event.id}"
          ><i class="fa fa-trash-o" aria-hidden="false"></i></a>
        </td>
      </tr>
        </span>
      </li>
    </table>
    </li>
    </tbody>
    </table>
  </div>
</div> <!-- /container -->
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../static/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
</body>
</html>