<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${event.name}"></title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>
<nav th:replace="/fragments/nav :: nav"></nav>
<div class="container" style="margin-top:80px;">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div class="right">
                <a class="btn" th:classappend="${event.started} ? btn-danger : btn-success" href="#"
                   th:if="${event.outdated}"
                   th:href="@{/events/started/__${event.id}__}"> Change Status </a>
                <a class="btn btn-primary" href="#"
                   th:if="${event.outdated}"
                   th:href="@{/events/add/__${event.id}__}"> Edit </a>
                <a class="btn btn-danger" href="#" onclick="showAlertDelete()"> Delete </a>
            </div>
        </li>
    </ul>
    <ul class="list-group list-group-flush">
        <a id="a_details" data-toggle="collapse" href="#details">
            <li class="list-group-item" style="background-color: #f5f9fa">
                <h4><label> Details </label></h4>
            </li>
        </a>
        <li class="list-group-item ">
            <div id="details" class="panel-collapse collapse in">
                <div class="panel-body">
                    <table class="table">
                        <tr>
                            <td><label> Name </label></td>
                            <td>
                                <p class="control-label" th:text="${event.name}"></p>
                            </td>
                        </tr>
                        <tr>
                            <td><label> Topic </label></td>
                            <td>
                                <p class="control-label" th:text="${event.topic}"></p>
                            </td>
                        </tr>
                        <tr>
                            <td><label> Description </label></td>
                            <td>
                                <p class="control-label" th:text="${event.description}"></p>
                            </td>
                        </tr>
                        <tr>
                            <td><label> Place </label></td>
                            <td>
                                <p class="control-label" th:text="${event.place}"></p>
                            </td>
                        </tr>
                        <tr>
                            <td><label> Date </label></td>
                            <td>
                                <p class="control-label" th:text="${event.dateTime}"></p>
                            </td>
                        </tr>
                    </table>
                </div>
        </li>
    </ul>
    <ul class="list-group list-group-flush"
        th:if="${event.predefinedList != null && !event.predefinedList.isEmpty()}">
        <a id="a_predefined_tasks" data-toggle="collapse" href="#predefined_task">
            <li class="list-group-item" style="background-color: #f5f9fa">
                <h4><label> Predefined tasks </label></h4>
            </li>
        </a>
        <input hidden id="input_predefined_tasks" type="checkbox"/>
        <li class="list-group-item">
            <div id="predefined_task" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" th:each="list, itemStatList : ${event.predefinedList}">
                            <div>
                                <label><h4 th:text="${list[0].taskStatusType}"></h4></label>
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>
                                            <label> Number </label>
                                        </th>
                                        <th>
                                            <label> Description </label>
                                        </th>
                                        <th>
                                            <label> Date </label>
                                        </th>
                                        <th>
                                            <label> Person </label>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="task, itemStat : ${list}"
                                        th:classappend="${task.status} ? bg-success : bg-light"
                                        th:onclick="'showAlert('+ ${task.id} +', \'task_status\')'">
                                        <td>
                                            <p th:text="${itemStat.count}"></p>
                                        </td>
                                        <td>
                                            <p class="control-label"
                                               th:id="${'task' + itemStat.index}"
                                               th:text="${task.name}"></p>
                                        </td>
                                        <td>
                                            <p class="control-label"
                                               th:text="${task.date}"></p>
                                        </td>
                                        <td>
                                            <p class="control-label"
                                               th:text="${task.person.name}"></p>
                                            </p>
                                        </td>
                                        </a>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>
    <ul class="list-group list-group-flush"
        th:if="${event.taskStatuses != null && !event.taskStatuses.isEmpty()}">
        <a id="a_adhoc" data-toggle="collapse" href="#adhoc">
            <li class="list-group-item" style="background-color: #f5f9fa">
                <h4><label> Adhoc </label></h4>
            </li>
        </a>
        <li class="list-group-item">
            <div id="adhoc" class="panel-collapse collapse">
                <div class="panel-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>
                                <label> Number </label>
                            </th>
                            <th>
                                <label> Description </label>
                            </th>
                            <th>
                                <label> Date </label>
                            </th>
                            <th>
                                <label> Person </label>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="task, itemStat : ${event.taskStatuses}"
                            th:classappend="${task.status} ? bg-success : bg-light"
                            th:onclick="'showAlert(' + ${task.id} + ', \'task_status\')'">
                            <td>
                                <p th:text="${itemStat.count}"></p>
                            </td>
                            <td>
                                <p class="control-label"
                                   th:text="${task.name}"></p>
                            </td>
                            <td>
                                <p class="control-label"
                                   th:text="${task.date}"></p>
                            </td>
                            <td>
                                <p class="control-label"
                                   th:text="${task.person.name}"></p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </li>
    </ul>
    <ul class="list-group list-group-flush"
        th:if="${event.billings != null && !event.billings.isEmpty()}">
        <a id="a_billing" data-toggle="collapse" href="#billing">
            <li class="list-group-item" style="background-color: #f5f9fa">
                <h4><label> Billing </label></h4>
            </li>
        </a>
        <li class="list-group-item">
            <div id="billing" class="panel-collapse collapse">
                <div class="panel-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>
                                <label>Number</label>
                            </th>
                            <th>
                                <label> Comapny name </label>
                            </th>
                            <th>
                                <label> Expense </label>
                            </th>
                            <th>
                                <label> Person assign to </label>
                            </th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="billing, itemStat : ${event.billings}"
                            th:classappend="${billing.paided} ? bg-success : bg-light"
                            th:onclick="'showAlert(' + ${billing.id} + ', \'billing\')'">
                            <td>
                                <label th:text="${itemStat.count}"></label>
                            </td>
                            <td>
                                <p class="control-label"
                                   th:id="${'billing' + itemStat.index}"
                                   th:text="${billing.companyName}"></p>
                            </td>
                            <td>
                                <p class="control-label"
                                   th:text="${billing.money}"></p>
                            </td>
                            <td>
                                <p class="control-label"
                                   th:text="${billing.personAssigned}"></p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </li>
    </ul>
    <div></div>
</div>
<script>
    function showAlert(index, element) {
        var r = confirm("You are sure you want to change the status?");
        if (r == true) {
            location.href = location.href + "/status?index=" + index + "&element=" + element;
        }
    }

    function showAlertDelete() {
        var r = confirm("Delete an event?");
        if (r == true) {
            location.href = location.href + "/delete";
        }
    }

</script>
</body>
</html>