<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="events" type="com.example.event_manager.form.AllEventsForm"*/-->
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Event manager</title>
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
  <style>
    #dude {
      font-family: 'Lato', sans-serif;
    }
  </style>


</head>
<body>
<nav th:replace="/fragments/nav :: nav(user = ${user})"></nav>

<div class="container" style="margin-top:100px; margin-bottom: 100px;">
  <div class="row ">
    <div>
      <form action="#" th:action="@{all}" th:object="${events}" method="get">
        <div class="input-group">
          <input class="form-control input-lg" type="search"
                 placeholder="Search by name, location, topic" th:field = "*{query}">
          <span class="input-group-btn">
            <button class="btn btn-primary btn-lg" name="search">Search event</button>
          </span>
        </div>
      </form>
    </div>
  </div>
  <div id="dude">
  <div
      th:replace="/fragments/group :: group(name='In progress', events = ${events.started})"></div>
  <div
      th:replace="/fragments/group :: group(name='Not started', events = ${events.notStarted})"></div>
  <div
      th:replace="/fragments/group :: group(name='Outdated', events = ${events.outdated})"></div>
  </div>
</div>
<script>
  $(window).scroll(function() {
    sessionStorage.scrollTop = $(this).scrollTop();
  });

  $(document).ready(function() {
    if (sessionStorage.scrollTop != "undefined") {
      $(window).scrollTop(sessionStorage.scrollTop);
    }
  });


  function myFunction(){
    $("form").submit();
  }
</script>
</body>
</html>