<h3
    xmlns:th="http://www.w3.org/1999/xhtml">Lista tasków AD hoc <span class="badge badge-secondary">ADHOC</span>
</h3>
<table class="table" xmlns:th="http://www.w3.org/1999/xhtml">
  <thead>
  <tr>
    <th scope="col">Company name</th>
    <th scope="col">Expense</th>
    <!--    <th scope="col">is Paided?</th>-->
    <th scope="col">Person assign to</th>
  </tr>
  </thead>
  <tbody>
  <tr th:if="${billings.empty}">
    <td colspan="2"> No Billings Available</td>
  </tr>
  <tr th:each="billing : ${billings}">
    <td><span th:text="${billing.title}">Company name </span></td>
    <td><span th:text="${billing.money}">Expense </span></td>
    <!--    <td><span th:text="${billing.paided}">is Paided? </span></td>-->
    <td><span th:text="${billing.money}">Person assign to</span></td>

  </tr>
  </tbody>
</table>