* {
  box-sizing: border-box;
}

.navbar {
  font-size: 20px;
  font: Arial;
  background: #556270; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #FF6B6B, #556270); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #FF6B6B, #556270); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.right {
  float: right;
}

.left {
  float: left;
}

.element_list {
  border: 2px solid gray;
  border-radius: 12px;
}

#element_list:link, #element_list:visited {
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: 2px solid gray;
  border-radius: 12px;
}