<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="predefined" type="com.example.event_manager.form.ToDoPredefinedForm"*/-->
<head>
  <meta charset="UTF-8">
  <title>Add List Predefined</title>

  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>
<body>
<!--/*@thymesVar id="user" type="com.example.event_manager.form.UserForm"*/-->
<nav th:replace="/fragments/nav :: nav(user = ${user})"></nav>
<div class="container" style="margin-top:80px;">
  <form action="#" th:action="@{/predefined/add}" th:object="${predefined}" method="post">
    <fieldset>
      <input hidden th:field="*{id}"/>
      <div>
        <ul class="list-group list-group-flush">
          <div th:if="${#fields.hasErrors('name')}">
            <div class="alert alert-danger" role="alert">
              <p th:errors="*{name}"></p>
            </div>
          </div>
          <div th:if="${#fields.hasErrors('tasks')}">
            <div class="alert alert-danger" role="alert">
              <p th:errors="*{tasks}"></p>
            </div>
          </div>
          <div th:each="task, state : *{tasks}" th:if="${#fields.hasErrors('tasks['+ state.index +']')}">
            <div class="alert alert-danger" role="alert">
              <p th:text="${'Task ' + state.count + ':'}"></p>
              <p th:errors="*{tasks[__${state.index}__]}"></p>
            </div>
          </div>
          <li class="list-group-item">
            <label> Name </label>
            <input class="form-control" type="text" th:field="*{name}"/>
          </li>
          <li class="list-group-item"><label>Tasks</label>
            <table class="table">
              <tbody>
              <tr th:each="task, itemStat : ${predefined.tasks}">
                <td>
                  <label th:text="${'Task ' + itemStat.count}"></label>
                </td>
                <td>
                  <input class="form-control" type="text" th:id="${'task' + itemStat.index}"
                         th:field="*{tasks[__${itemStat.index}__]}">
                </td>
                <td>
                  <button class="btn btn-danger" name="remove" th:value="${task}"><i
                      class="fa fa-trash-o" aria-hidden="true"></i></button>
                </td>
              </tr>
              <tr>
                <td></td>
                <td colspan="2">
                  <button class="btn btn-primary" name="action" value="add"> Add new element
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </li>
        </ul>
      </div>
      <div class="right">
        <a class="btn btn-primary" href="#" th:href="@{/predefined/all}"> Cancel </a>
        <button class="btn btn-success" name="action" value="save"> Save</button>
      </div>
    </fieldset>
  </form>
</div>
</body>
</html>