<a style="padding: 14px 25px; text-decoration: none;display: inline-block;border: 2px solid gray;border-radius: 12px;"
   href="#" th:fragment="event_item(event)" xmlns:th="http://www.w3.org/1999/xhtml"
   th:href="@{/event?id=} + ${event.id}">
  <div>
    <h1 style="text-align: center; width: 50%;" th:text="${event.name}"></h1>
    <p> Topic: <span th:text="${event.topic}"></span></p>
    <p> Description: <span th:text="${event.description}"></span></p>
    <p> Place: <span th:text="${event.place}"></span></p>
    <p> Date: <span th:text="${event.dateTime}"></span></p>
    <a href="#" th:href="@{/event_delete?id=} + ${event.id}"> Delete event </a>
  </div>
</a>