<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Start</title>
    <link rel="stylesheet" type="text/css" href="navigation.css">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div th:replace="/nav :: nav"></div>
<div style="width: 80%;margin-right: auto; margin-left:auto">
    <div class="row">
        <div>
            <a href="#" th:href="@{/event_add}"> Add event </a>
        </div>
        <div class="column" style="background-color: aqua" th:each="event : ${events}">
            <div>
                <h1 style="text-align: center;" th:text="${event.name}"></h1>
                <p> Topic: <span th:text="${event.topic}"></span></p>
                <p> Description: <span th:text="${event.description}"></span></p>
                <p> Place: <span th:text="${event.place}"></span></p>
                <p> Date: <span th:text="${event.dateTime}"></span></p>
            </div>
            <div>
                <h2>TODO</h2>
                <ul class="next_left" th:each="toDo : ${event.toDos}">
                    <h3 th:tet="${toDo.name}"></h3>
                    <li th:each="task : ${toDo.tasks}">
                        <p th:if="${task.status}">
                            <span style="background-color: #6cf552" th:text="${task.name}"></span>
                        </p>
                        <p th:unless="${task.status}">
                            <span style="background-color: brown" th:text="${task.name}"></span>
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>