<div th:fragment="nav" xmlns:th="http://www.w3.org/1999/xhtml">
    <ul class="nav">
        <li class="next_left" ><a class="nav_item active" href="#" th:href="@{/}"> Event </a></li>
        <li class="next_left" ><a class="nav_item" href="#" th:href="@{/event_add}"> Add event </a></li>
        <li class="next_left" ><a class="nav_item" href="#" th:href="@{/predefined}"> List predefined </a></li>
        <li class="next_left" ><a class="nav_item" href="#" th:href="@{/predefined_add}"> Add list predefined </a></li>
    </ul>
</div>
