<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Predefined</title>
  <link rel="stylesheet" type="text/css" href="navigation.css">
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div th:replace="/nav :: nav"></div>
<div class="left">
  <ul class="nav_left">
    <li class="nav_left_item" th:each="predefined : ${predefineds}"
        th:attr="onclick=|show('${predefined.id}')|">
      <span th:text="${predefined.name}"></span>
    </li>
  </ul>
</div>
<div class="right">
  <a href="#" th:href="@{/predefined_add}"> Add list predefined </a>
</div>
<div id="tasks">
  <div style="visibility: hidden; width: 80%; margin-right: auto; margin-left:auto; "
       th:each="predefined : ${predefineds}" th:id="${predefined.id}">
    <a href="#" th:href="@{/predefined_edit?id=} + ${predefined.id}"> Edit </a>
    <a href="#" th:href="@{/predefined_delete?id=} + ${predefined.id}"> Delete </a>
    <ul>
      <li th:each="task : ${predefined.tasks}">
        <span th:text="${task.name}"></span>
      </li>
    </ul>
  </div>
</div>
<script>
  function show(id) {
    var elements = document.getElementById('tasks').children;
    for (var i = 0; i < elements.length; i++) {
      if (elements[i].style.visibility == "visible") {
        elements[i].style.visibility = "hidden";
      }
    }
    document.getElementById(id).style.visibility = "visible";
  }
</script>
</body>
</html>