<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add List Predefined</title>
    <link rel="stylesheet" type="text/css" href="navigation.css">
    <link rel="stylesheet" type="text/css" href="style.css">

</head>
<body>
<div th:replace="/nav :: nav"></div>
<div style="width: 80%; margin-right: auto; margin-left:auto">
    <form action="#" th:action="@{predefined_add}" th:object="${predefined}" method="post">
        <div>
            <p> Name: </p>
            <input type="text" th:field="*{name}"/>
        </div>
        <div id="list_task">
            <div th:each="task, itemStat : ${predefined.tasks}">
                <input type="text" th:name="|tasks[${itemStat.index}].name|" th:value="${task.getName()}">
            </div>
        </div>
        <div>
            <button name="action" value="add"> Add new element</button>
            <a href="#" th:href="@{/predefined}"> Cancel </a>
            <button name="action" value="save"> Save</button>
        </div>
    </form>
</div>
</body>
</html>